banner a{
    color:#901C1C;
    font-size: 4em;
    display: flex;
    text-decoration: none;
}
banner img{
    height: 0.65em;
    position: relative;
    top:0.3em;
}

#tagsList{
    margin-top: 0;
    display: flex;
    list-style-type: none;
}

h1{
    color:#901C1C;
    font-size: 36px;
    position: absolute;
    top:10px;
    right: 50px;
}

#userChoiceOfPhotographers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.homePagePhotographerFrame{
    width:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.linkToPhotographerPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.homePagePortrait{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.homePageName{
    color: #D3573C;
    font-size: 36px;
    
}

.homePagePlace{
    color:#901C1C;
    font-size: 18px;
}

.homePageTagline{
    font-size: 15px;
}

.homePagePrice{
    color: #757575;
    font-size: 14px;
}

.tags{
    list-style-type: none;
    display: flex;

    /* !!!!!!!!! NE MARCHE PAS !!!!!!!!! !!!!!!!!! !!!!!!!!! */
    justify-content: space-between;
}

.aTagButton{
    color:#901C1C;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    background-color: white;
    font-size: 12px;
}



/*/////on photographer page////////*/
#photographerDetails{
    margin-top: 50px;
    background-color: #fafafa;
    display: flex;
    justify-content: right;
    align-content: center; /*NE MARCHE PAS*/
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.photographersNameONPP{
    color: #D3573C;
    font-size: 64px;
}
.placeONPP{
    color:#901C1C;
    font-size: 26px;
}

.tagLineONPP{
    color: #525252;
    font-size: 20px;
    margin-top: 20px;
}

.tagsONPP{
    display: flex;
    list-style-type: none;
    justify-content: left;
    padding-left: 0;
}

.contactMeONPP{
    height:60px;
    border-radius: 5px;
    font-family: 'DM Sans';
    font-size: 20px;
    background-color: #901C1C;
    color:white;
    margin-left: 10%;
    margin-right: 40%;
}

.portraitONPP{
    height: 180px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

/*///////////////////////*/
.instructionsONPP{
    margin-left: 30px;
    font-family: 'DM sans';
    font-size: 20px;
    font-weight: 700;
}
#sortingMenu{
    color: white;
    background-color: #901C1C;
}

#media{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mediaBlock{
    width: 30%;
    margin-bottom: 5%;

}
.image{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.video{
    width:100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.titleAndLikes{
    display: flex;
    color:#901C1C;
    justify-content: space-between;
}



.likesDiv{
    display: flex;
}

#photographerPageBody{
    position: relative;
}

.carousel{
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: white;
}

.carouselImage{
    height:100%;
    width: 100%;
    object-fit: contain;
    background-color: white;
}
.carouselVideo{
    height:100%;
    width: 100%;
    object-fit: contain;
    background-color: white;
}

.fas{
    color: #901C1C;
    font-size: 50px;
    background-color: transparent;
    border: none;
}

.prevButton{
    position: fixed;
    left: 3%;
    top: 45%;
}

.nextButton{
    position: fixed;
    left: 95%;
    top: 45%;
}

.closeButton{
    position: fixed;
    left:95%;
    top: 5%;
}

.closeDiv{
    display: none;
}

.heartButton{
    border:none;
    background-color: none;
    font-size: medium;
}

#totalLikes{
    position: fixed;
    bottom: 0%;
    right: 5%;
    background-color: #DB8876;
    height: 40px;
    width: 250px;
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

#space{
    margin-left: 10px;
    margin-right: 50px;
}

#totalLikes .fas{
    font-size: 20px;
    color: black;
}
